*/*all font will be bold and in Times New Roman*/ 
{
    font:bold;
    font-family:'Times New Roman'
}

/*The header will stay fixed on the screen, even when scrolling*/
header {

    position:fixed;
    top: 0;
    background-color:forestgreen;
    width:100%;
    text-align:center;
    
}

/*The links displayed will be inline instead of block*/
.link {
    display:inline;
    list-style-type: none;
    font-size:30px;
}

/*Each link has different colors*/
#FirstLink {
    background-color: lightblue;
}

#SecondLink {
    background-color: lightgoldenrodyellow;
}

#ThirdLink {
    background-color:lightcoral;
}

/*The background of the website will be pink*/
body {

    background-color:pink
}

/*The images will be displayed side-by-side instead of in a column*/
figure {
    display:inline-block
}

/*Determines the parameters of the Contact Form*/
input[type=text], select, textarea {
    width:100%;
    padding:10px;
    border: 1px solid darkgray;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:6px;
    margin-bottom:16px;
}

/*Determines the parameters of the box surrounding the Contact Form*/
.container {
    border-radius:10px;
    background-color:lightgray;
    padding:20px;
}
